@import "../scss/colors.scss";
@import "../scss/fonts.scss";
@import "../scss/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: $font_family_primary, sans-serif;
  list-style: none;
}

body {
}

.background_container {
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  background: var(--Gradient-Supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
}
///header CSS

header {
  display: flex;
  padding: 3.125rem 3.75rem 0rem 3.75rem;
  

  text-align: right;  
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
}

.publications_page_header {
  padding-bottom: 3.75rem;
}

.hlegal_logo_mobile {
  display: none;

  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hlegal_logo_tablet {
  display: none;

  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $blue_regular;
}

.tablet_slash_logo {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.burger_menu {
  display: none;
}

.slash {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.header_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hlegallaw_container {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logotypes_hlegal {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 0.41rem;
}

.header_menu {
  display: flex;
  align-items: center;
  gap: 0.38rem;
}

.header_active {
  color: $accent_red;
  text-decoration: underline 2px solid $accent_red;
  text-underline-offset: 0.19rem;
}

  /// Контейнер списков
.header_menu ul {  
  display: flex;
  list-style: none;
  white-space: nowrap;
}

.header_menu li {
  flex-shrink: 0;
}

  /// Элементы списков
.languages_list li {
  padding: 0.31rem 0.44rem;
}

.language_active {
  background-color: $accent_red;
  border-radius: 0.5rem;
  color: white;
}

.header_nav {
  display: flex;
  flex-direction: row-reverse;
}

.header_nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.94rem;
}

.header_nav li {
  cursor: pointer;
}

.header_nav_active {
  color: $accent_red;
  border-bottom: 2px solid $accent_red;
}




/// Body CSS


.h_logo {
  background: url(./images/h_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  flex-shrink: 0;
  width: auto;
  height: 100%;
  overflow: hidden;
}

.flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_solutions {
  padding-top: 22.56rem;
  padding-bottom: 25.31rem;
  padding-left: 35rem;
  padding-right: 35rem;
}

.header_solutions h1 {
  color: var(--Basic-White, #FFF);
  text-align: center;
  font-family: Montserrat;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

.scroll_button {
  padding-bottom: 1.87rem;
}

.scroll_button svg:hover {
  cursor: pointer;
}

.scroll_button svg path,
.scroll_button svg circle {
  stroke: white;
  transition: stroke 0.3s ease 0.1s;
}

.scroll_button svg:hover path,
.scroll_button svg:hover circle {
  stroke: $accent_red;
}

.scroll_block {
  display: flex;
  gap: 1.88rem;
  padding-right: 3.75rem;
  border-right: 4px solid $grey_separator;
  white-space: nowrap;
  color: $grey_text;
}

.scroll_ul {
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
  align-items: flex-end
}

.scroll_menu {
  display: flex;
  gap: 3.75rem;
  flex: 1;

  margin-top: 3.75rem;
  margin-left: 17.5rem;
  margin-right: 17.5rem;
}

.background_layer {
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  background: #CACADB;

  padding-bottom: 0.62rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.background_layer_second {
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  background: #E7E7F2;

  padding-bottom: 0.62rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 1.87rem;
}



.scroll_menu_text {
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
  justify-content: center;
}

.margin_wrapper {
  margin-left: 10rem;
  margin-right: 10rem;
}

///Services CSS

.services_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.75rem;
}

.services_heading {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
  margin-top: 3.75rem;
}

.services_container p {
  color: white;
}


.services_card {
  display: flex;
  flex-direction: column;
  max-width: 30.83rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  min-width: 30%;
}

.services_card svg {
  margin-bottom: 1.88rem;
  padding: 0.875rem;
  border-radius: 1.5rem;
  background: var(--Basic-White, #FFF);
  box-sizing: content-box;
}

.services_card p {
  margin-top: 0.94rem;
}


///Quote CSS


.quote_container {
  display: flex;
  flex: 1;
  margin-left: 10rem;
  margin-right: 10rem;
  justify-content: center;
  background-color: $grey_bg;
}

.quote_text {
  padding: 1.88rem;
  flex: 1;
}

.quote_text h4 {
  margin-top: 1.88rem;
  color: $grey_text;
}

.quote_text p {
  color: $grey_text;
}

.quote_image {
  flex-shrink: 0;
  max-width: 25rem;
  height: auto;
  object-fit: contain;
  flex: 1;
}

.quote_image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem 0rem 0rem 0.75rem;
}

.dot_menu {
  gap: 0.94rem;
  margin-top: 1.88rem;
}

.dot_menu svg:hover {
  cursor: pointer;
}

.dot_menu svg.active circle {
  fill: $light_blue_regular;
  opacity: 1; 
}
///Sponsor blocks

.trust {
  margin-top: 3.75rem;
  margin-bottom: 1.88rem;
  color: $blue_regular;
}

.sponsor_container {
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  justify-content: center;
  flex: 1;
  margin-left: 0;
  margin-right: 0;
}

.sponsor_block {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 26.88rem;
  height: 7.5rem;
  min-width: 16rem;
  background-color: #1C4280;

  justify-content: center;
  align-items: center;

  min-width: 30%;
}

///Sponsor backgrounds


.sponsor_hillel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1C4280;
}


.sponsor_hillel_logo {
  background-image: url(./images/sponsors/hillel_logo.png);
  background-position: center;
  background-size: contain;
  width: 13.5625rem;
  height: 3rem;
}

.sponsor_wannabiz {
  background-color: #143646;
  background-position: center;
}

.sponsor_wannabiz_logo {
  background-image: url(./images/sponsors/wannabiz_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 12.4375rem;
  height: 2rem;
}

.sponsor_tapgerine {
  background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
}

.sponsor_tapgerine_logo {
  background-image: url(./images/sponsors/tapgerine_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 11.1875rem;
  height: 2.75rem;
}

.sponsor_3dlook {
  background: #9E4DC3;
}

.sponsor_3dlook_logo {
  background-image: url(./images/sponsors/3dlook_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 11.25rem;
  height: 2.625rem;
}

.sponsor_orangear {
  background-color: #FD9339;
}

.sponsor_orangear_logo {
  background-image: url(./images/sponsors/orangear_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10.875rem;
  height: 2.75rem;
}

.sponsor_adtellige {
  background: #E2E2E4;
}

.sponsor_adtellige_logo {
  background-image: url(./images/sponsors/adtelligent_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 8.31113rem;
  height: 3rem;
}

.sponsor_clickky {
  background: #C71C36;
}

.sponsor_clickky_logo {
  background-image: url(./images/sponsors/clickky_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 8.625rem;
  height: 3.8125rem;
}

.sponsor_ecoleasing {
  background: #DCF3F9;
}

.sponsor_ecoleasing_logo {
  background-image: url(./images/sponsors/eco_leasing_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 9.125rem;
  height: 4.75rem;
}

.sponsor_infratek {
  background: #EAEAEA;
}

.sponsor_infratek_logo {
  background-image: url(./images/sponsors/infratek_logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 11.375rem;
  height: 3.75rem;
}

.sponsor_citypark {
  background: #282240;
}

.sponsor_citypark_logo {
  background-image: url(./images/sponsors/city_park_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 11.3125rem;
  height: 2.375rem;
}

.sponsor_artprint {
  background: #1D4568;
}

.sponsor_artprint_logo {
  background-image: url(./images/sponsors/art_print_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 11.8125rem;
  height: 2.875rem;
}

.sponsor_ultimatecard {
  background: #000;
}

.sponsor_ultimatecard_logo {
  background-image: url(./images/sponsors/ultimate_card_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 9.5rem;
  height: 5.9375rem;
}
///Sponsor backgrounds end


///Publications CSS

.publication {
  display: flex;
  flex-direction: column;
  flex: 1 1 19rem;
  background-color: white;
  border-radius: 0.5rem;
}

.publication_pub_page_settings {
  flex: 1 1 19rem;
  min-width: 30%;
  max-width: 32rem;
}

.publications_heading {
  display: flex;
  flex-direction: column;
  padding-top: 1.88rem;
  padding-bottom: 1.88rem;
  gap: 0.62rem;
}

.publications_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.88rem;
  justify-content: center;
  flex: 0 1 auto;
}

.publication_text {
  display: flex;
  flex-direction: column;
  padding: 1.88rem;
  gap: 0.94rem;
}

.publication_text .p_small {
  padding-top: 0.94rem;
  border-top: 4px solid $grey_separator;
}

.publication_image_container {
  height: 12.5rem;
  background: url(./images/publications/publication_equity.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.toogle_publications {
  display: inline-flex;
  background: #E6E6F0;
  border-radius: 0.75rem;
  padding: 0.125rem;
  margin-top: 1.88rem;
  margin-bottom: 1.88rem;

}




.toogle_publications button {
  padding: 0.5rem 1.88rem;
  border-radius: 0.625rem;
  background: transparent;
}

.toogle_publications_active {
  background: white !important;
}

.more_publications button {
  padding: 1.125rem 1.875rem;
  border-radius: 0.75rem;
  background: var(--Active-Regular, #24A3FF);
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.50);

  margin-top: 1.88rem;
  margin-bottom: 1.88rem;
}

.more_publications span {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

///Footer CSS


footer {
  display: flex;
  flex-direction: row;
  padding-top: 1.88rem;
}

.footer_block {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 1.31rem;
  width: 100%;
}

.footer_block_publications {
  padding-top: 1.88rem;
  border-top: 2px solid $grey_separator_nontransparent;
}

.dot_separator_footer {
  margin-left: 0.62rem;
  margin-right: 0.62rem;
}

.footer_top {
  display: flex;
  align-items: center;
  gap: 0.62rem;
}

.copyright {
  margin-left: auto;
}

.footer_bottom {
  display: flex;
  align-items: center;
  gap: 0.62rem;
}

.footer_phone {
  text-align: right;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $blue_regular;
}

.email {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

.link {
  font-weight: 700;
  color: $light_blue_regular;
}

///Heroes 


a {
  text-decoration: none;
  color: inherit;
}

.hero_regular {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 {
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h3_caps {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: $light_blue_regular;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.weight_400 {
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}

.p_small {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.uppercase {
  text-transform: uppercase;
}

.display_except_mobile {
  display: flex;
}

.grey_text {
  color: $grey_text;
}

.light_blue_text {
  color: $light_blue_regular;
}

.color_blue {
  color: $blue_regular;
}

.margin-top_188rem{
  margin-top: 1.88rem;
}

.center_flex {
  display: flex;
  align-items: center;
}

.gdpr_publication_picture {
  background-image: url(./images/publications/publication_gdpr.png);
  background-position: center;
}

.millenials_publication_picture {
  background-image: url(./images/publications/publication_millenials.png);
  background-position: center;
}

.law_publication_picture {
  background-image: url(./images/publications/publication_law.jpg);
  background-position: center;
}

.children_publication_picture {
  background-image: url(./images/publications/Publication-children.jpg);
  background-position: center;
}

.publication_date {
  color: var(--Grey-Text, #B3B3BA);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.light_blue {
  color: $light_blue_regular; 
}

.white {
  color: white;
}

.introduction {
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 157.895% */
}

.grey_bg {
  background-color: $grey_bg;
}

.gradient_text {
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_text_reversed {
  background: var(--Gradient-Text-Red-Reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

///About us page

.about_heading_block {
  display: flex;
}

.about_heading_text {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  margin-right: 1.88rem;
  flex: 1;
}

.about_heading_sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 1.88rem;
  border-left: 2px solid $grey_separator_nontransparent;
  max-width: 24rem;
  flex: 1;
  gap: 2.5rem;
}

.heading_sidebar_element {
  display: flex;
  flex-direction: column;
}

.heading_sidebar_element p {
  color: $blue_regular;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.sidebar_element_count {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 0.5rem;
}

.team_text {
  color: white;
  text-align: center;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.80);
  font-family: Montserrat;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.9375rem;
  text-transform: uppercase;
}

.about_margin_wrapper {
  margin-left: 17.5rem;
  margin-right: 17.5rem;
}

.about_padding_wrapper {
  padding-left: 17.5rem;
  padding-right: 17.5rem;
}

.team_image_container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 7.13rem;
  max-height: auto;

  aspect-ratio: 1920 / 584;

  margin-top: 3.75rem;

  background: linear-gradient(265deg, #F01432 0%, #323264 29.69%), url(./images/about_us_team_photo.png) lightgray 50% / cover no-repeat;
  background-blend-mode: screen, normal;
  position: relative;
  overflow: hidden;
}

.about_flex_container {
  display: flex;
  padding-top: 3.75rem;
}

.about_flex_container h1 {
  margin-left: 3.75rem;
  min-width: 19.69rem;
  margin-bottom: 3.75rem;
}

.about_p_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 58.62rem;
}

.achievements_container {
  display: flex;
  flex-direction: column;
  background-color: $grey_bg;
}

.achievements_container h3 {
  margin-top: 1.88rem;
}

.achievements_block {
  display: flex;
  gap: 2.5rem;
  overflow: hidden;
  flex: 1;
  justify-content: space-between;
}

.dot_menu_about_page {
  gap: 0.94rem;
}

.dot_menu_about_page svg:nth-child(n+4) {
  display: none;
}

.achievement {
  display: flex;
  justify-content: center;
  max-width: 23.12rem;
  min-width: 8.25rem;
  height: auto;
  margin-top: 1.88rem;
  margin-bottom: 1.88rem;
  flex: 1;
  padding-left: auto;
  padding-right: auto;
  padding-top: 1.56rem;
  padding-bottom: 1.56rem;
  background-color: white;
}

.achievement_image_legal500 {
  width: 80px;
  height: 60px;
  background: url(./images/achievements/legal_500.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.achievement_image_legalawards {
  width: 159px;
  height: 60px;
  background: url(./images/achievements/jur_prem.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.achievement_image_leader {
  width: 195px;
  height: 60px;
  background: url(./images/achievements/leader.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.achievement_image_ulf {
  width: 166px;
  height: 60px;
  background: url(./images/achievements/ulf.png);
  background-size: contain;
  background-repeat: no-repeat;
}

///Team page

.padding_wrapper_10_188 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.team_member {
  max-width: 30.83rem;
  min-width: 16rem;
  margin: 0 auto;
}

.team_member_photo {
  height: 25rem;
  max-width: 30.83rem;
  border-radius: 0.75rem;
}

.team_profile h4 {
  color: $blue_regular;
}

.team_profile p {
  color: $grey_text;
}


///team photos

.alexander {
  background: url(./images/team/alexander.png) lightgray 50% / cover no-repeat;
}

.evgeny {
  background: url(./images/team/evgeny.png) lightgray 50% / cover no-repeat;
}

.vladislav {
  background: url(./images/team/vladislav.png) lightgray 50% / cover no-repeat;
}

.sergey {
  background: url(./images/team/sergey.png) lightgray 50% / cover no-repeat;
}

.oksana {
  background: url(./images/team/oksana.png) lightgray 50% / cover no-repeat;
}

.julia {
  background: url(./images/team/julia.png) lightgray 50% / cover no-repeat;
}
///team photos end
.team_container {
  display: flex;
  flex-wrap: wrap;
  gap: 3.75rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.team_card {
  flex: 1 1 30%;
  justify-content: center;
}

.team_profile {
  display: flex;
  margin-top: 0.94rem;
}

.team_profile button {
  background: transparent;
}

.team_profile_text {
  margin-right: auto;
}

///Media queries

/// Mobile

@media (max-width: 767px) {
  h1 {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }



  header {
    padding: 0;
    flex-direction: column-reverse;
  }
  .header_menu > *:not(.languages_list):not(.phone_number) {
    display: none;
  }

  .languages_list {
    margin-right: auto;
  }
  .header_nav {
    display: none;
  }

  .header_wrapper {
    background: rgba(245, 245, 250, 0.20);
    padding: 0.625rem 0.9375rem;
  }

  .logotypes_hlegal {
    padding: 0.9375rem 0rem 0.625rem 0rem;
    margin-right: 0;
    gap: 0.22rem;
  }

  .logotypes_hlegal svg {
    max-width: 4.3rem;
    height: auto;
  }

  .hlegallaw_container {
    padding: 0rem 0.9375rem;
    margin-right: 0;
  }

  .hlegal_logo_mobile {
    display: flex;
    margin-right: auto;
  }

  .burger_menu {
    display: flex;;
  }

  .header_solutions {
    padding-left: 1.88rem;
    padding-right: 1.88rem;
    padding-top: 8rem;
    padding-bottom: 10rem;
  }

  .scroll_menu {
    flex-direction: column;
    margin-left: 1.88rem;
    margin-right: 1.88rem;
    display: contents;
  }

  .scroll_menu_text {
    padding-left: 1.88rem;
    padding-right: 1.88rem;
    padding-top: 1.88rem;
  }

  .scroll_ul {
    flex-direction: row;
  }

  .scroll_block {
    overflow-x: auto;
    border-right: none;
    padding-bottom: 3.75rem;
    border-bottom: 4px solid $grey_separator;
    padding-left: 1.88rem;
    padding-right: 1.88rem;
  }

  .margin_wrapper {
    margin-left: 1.88rem;
    margin-right: 1.88rem;
  }

  .services_container {
    gap: 1.88rem;
  }

  .quote_container {
    flex-direction: column;
    margin-left: 1.88rem;
    margin-right: 1.88rem;
  }

  .quote_image {
    max-width: 100%;
  }


  .quote_image img {
    border-radius: 0.75rem 0.75rem 0rem 0rem;
  }

  .quote_text h1 {
    background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

  footer {
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1.88rem;
  }

  footer circle {
    display: none ;
  }

  .footer_block {
    margin-right: 0;
    align-items: center;
  }


  .footer_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: contents;
  }

  .footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services_heading {
    margin-top: 1.88rem;
  }

  .services_card {
    margin-top: 1.88rem;
    margin-bottom: 1.88rem;
  }

  .sponsor_container :nth-child(n+7) {
    display: none;
  }


  .copyright {
    display: flex;
    justify-content: center;
    order: 1;
    margin-left: 0;
  }

  .dot_separator_footer {
    display: none;
  }

  .about_heading_block {
    flex-direction: column;
    gap: 1.88rem;
  }

  .about_margin_wrapper {
    margin-left: 1.88rem;
    margin-right: 1.88rem;
  }

  .team_text {
    color: var(--Basic-White, #FFF);
  text-align: center;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.80);
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8125rem;
  text-transform: uppercase;
  }

  .achievements_block :nth-child(n+2) {
    display: none;
  }

  .about_padding_wrapper {
    padding-left: 1.88rem;
    padding-right: 1.88rem;
  }

  .about_flex_container {
    flex-direction: column;
  }

  .about_flex_container h1 {
    margin-left: 0;
    margin-top: 1.88rem;
  }

  .dot_menu_about_page svg:nth-child(n+4) {
    display: inline;
  }

  .grey_bg_mobile {
    background: var(--Grey-Bg, #F5F5FA);
  }

  .achievements_block {
    justify-content: center;
  }

  .padding_wrapper_10_188 {
    padding-left: 1.88rem;
    padding-right: 1.88rem;
  }

  .display_except_mobile {
    display: none;
  }

  .h_logo {
    background-size: cover;
  }
}



//Tablet SD

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    flex-direction: column;
    gap: 1.88rem;
  }

  .header_menu {
    order: -1;
  }

  .header_nav {
    flex-direction: row;
  }

  .header_wrapper {
    display: contents;
  }

  .header_solutions {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 17rem;
    padding-bottom: 26rem;
  }

  .scroll_menu {
    flex-direction: column;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    display: contents;
  }

  .scroll_menu_text {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-top: 3.75rem;
  }

  .scroll_ul {
    flex-direction: row;
  }

  .scroll_block {
    overflow-x: auto;
    border-right: none;
    padding-bottom: 3.75rem;
    padding-left:  3.75rem;
    padding-right: 3.75rem;
    border-bottom: 4px solid $grey_separator;
  }

  .margin_wrapper {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  .services_card {
    max-width: 18rem;
  }

  .quote_container {
    flex-direction: column;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  .quote_image {
    max-width: 100%;
  }

  .quote_image img {
    border-radius: 0.75rem 0.75rem 0rem 0rem;
  }

  .sponsor_block {
    max-width: 16rem;
  }

  .hlegal_logo_tablet {
    display: flex;
  }

  .hlegallaw_container {
    align-items: flex-start;
  }

  .about_margin_wrapper {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  .about_heading_block {
    flex-direction: column;
    gap: 1.88rem;
  }

  .team_text {
    color: var(--Basic-White, #FFF);
  text-align: center;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.80);
  font-family: Montserrat;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.9375rem;
  text-transform: uppercase;
  }

  .about_padding_wrapper {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }

  .about_flex_container {
    flex-direction: column;
  }

  .about_flex_container h1 {
    margin-left: 0;
    margin-top: 1.88rem;
  }

  .h_logo {
    background-size: cover;
  }

}

//tablet HD/laptop (1025px - 1440px)

@media (min-width: 1024px) and (max-width: 1440px) {
  .header_solutions {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 15.31rem;
    padding-bottom: 18rem;
  }

  .scroll_menu {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  .margin_wrapper {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  .services_card {
    max-width: 16.33rem;
  }

  .about_margin_wrapper {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  .about_padding_wrapper {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }

  
  .h_logo {
    background-size: contain;
  }


}

// Desktop SD/laptop (1441px - 1920px)

@media (min-width: 1441px) and (max-width: 1920px) {

  .scroll_menu {
    margin-left: 11.25rem;
    margin-right: 11.25rem;
  }

  .margin_wrapper {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  .services_card {
    max-width: 25rem;
  }

  .about_margin_wrapper {
    margin-right: 17.5rem;
    margin-left: 17.5rem;
  }

  .padding_wrapper_10_188 {
    padding-left: 10rem;
    padding-right: 10rem;
  }




  // .header_solutions {
  //   padding-left: 20rem;
  //   padding-right: 20rem;
  //   padding-top: 16.31rem;
  //   padding-bottom: 23.56rem;
  // }

}

//desktop HD (1921px - 2560px)
@media (min-width: 1921px) and (max-width: 2560px) {
  .sponsor_container {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }
  
  .padding_wrapper_10_188 {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}



///Keyframes